// Variables del componente
$profile-padding: 8px 16px;
$photo-border-radius: 50%;

.profile {
  padding: $profile-padding;
}

.photo {
  border-radius: $photo-border-radius;
  width: 100%;
  max-width: 80px;
  height: auto;
  object-fit: cover;
}
